nav {
  background-color: white;
  border-bottom: 1px solid #e6e6eb;
  padding-right: 16px;
  padding-left: 16px;
}

#logo-image {
  margin-bottom: 4px;
}

#signin-button {
  box-shadow: none;
  font-size: 14px;
  font-weight: bold;
  width: 75px;
  color: black;
  background-color: white;
  border: 1px solid #e6e6eb;
}

