nav {
  overflow: hidden;
  background-color: white;
  border-bottom: 1px solid #e6e6eb;
  height: 55px;
  padding-right: 16px;
  padding-left: 16px;
  align-items: center;
}

button {
  font-size: 14px;
	float: right;
  border-radius: 5px;
  width: 74px;
  height: 31px;
  font-weight: bold;
  margin-top: 12px;
}

nav > img {
  margin-top: 18px;
}