nav {
  background-color: white;
  border-bottom: 1px solid #e6e6eb;
  padding-right: 100px;
  padding-left: 100px;
}

#logo-image {
  margin-bottom: 4px;
}

#demo-button {
  box-shadow: none;
  font-size: 14px;
  font-weight: bold;
  width: 75px;
  color: black;
  background-color: white;
  border: 1px solid #ccccd1;
}

#signin-button {
  margin-left: 10px;
  box-shadow: none;
  font-size: 14px;
  font-weight: bold;
  width: 75px;
  color: black;
  background-color: white;
  border: 1px solid #ccccd1;
}

#sign-in-button {
  width: 100%;
}

#signup-button {
  box-shadow: none;
  font-size: 14px;
  font-weight: bold;
  width: 75px;
  color: black;
  background-color: orange;
  border: 1px solid #ccccd1;
}