#signup-fb-button {
  width: 70%;
  border-radius: 0px;
  margin-bottom: 15px;
}

#signup-g-button {
  width: 70%;
  border-radius: 0px;
}

#signup-email-button {
  width: 70%;
  border-radius: 0px;
}

.fa {
	position:absolute;
	left: 130px;
}